services:

  webapp-webui:
    build:
      context: ../webapp
    image: hands-on/grafana/webapp/webui:latest
    command:
      - /bin/bash
      - -c
      - |
        wget -O ./pyroscope.jar https://github.com/grafana/pyroscope-java/releases/download/v2.0.0/pyroscope.jar
        java -javaagent:pyroscope.jar -jar build/libs/apisl.handson.rollingdice.webapp.webui-0.0.1-SNAPSHOT.jar
    env_file:
      - .env-webapp-common-pyroscope
    environment:
      PYROSCOPE_APPLICATION_NAME: webapp-webui

  webapp-webapi:
    build:
      context: ../webapp
    image: hands-on/grafana/webapp/webapi:latest
    command:
      - /bin/bash
      - -c
      - |
        wget -O ./pyroscope.jar https://github.com/grafana/pyroscope-java/releases/download/v2.0.0/pyroscope.jar
        java -javaagent:pyroscope.jar -jar build/libs/apisl.handson.rollingdice.webapp.webapi-0.0.1-SNAPSHOT.jar
    env_file:
      - .env-webapp-common-pyroscope
    environment:
      PYROSCOPE_APPLICATION_NAME: webapp-webapi

  webapp-mysql:
    volumes:
      - ../webapp/mysql/config/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ../webapp/mysql/init:/docker-entrypoint-initdb.d:ro
    env_file:
      - ../webapp/.env-webapp-mysql
    logging:
      driver: fluentd
      options:
        fluentd-address: "tcp://localhost:24224"
        fluentd-async: "true"
        tag: "webapp-mysql"

  webapp-webui-node-exporter:
    hostname: webapp-webui-node-exporter
    container_name: webapp-webui-node-exporter
    image: &nodeExpImage prom/node-exporter:v1.10.2
    pid: "service:webapp-webui"
    networks:
      - internal
    restart: unless-stopped

  webapp-webapi-node-exporter:
    hostname: webapp-webapi-node-exporter
    container_name: webapp-webapi-node-exporter
    image: *nodeExpImage
    pid: "service:webapp-webapi"
    networks:
      - internal
    restart: unless-stopped
