receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  fluentforward:
    endpoint: 0.0.0.0:24224
  prometheus:
    config:
      scrape_configs:
        - job_name: "webapp"
          scrape_interval: 5s
          metrics_path: /actuator/prometheus
          static_configs:
            - targets:
              - webapp-webui:8181
              - webapp-webapi:8182
        - job_name: node-exporter
          static_configs:
            - targets:
              - webapp-webui-node-exporter:9100
              - webapp-webapi-node-exporter:9100
  mysql:
    username: myuser
    password: mypass
    endpoint: webapp-mysql:3306
    metrics:
      mysql.query.slow.count:
        enabled: true

exporters:
  prometheusremotewrite:
    endpoint: http://mimir-lb:9009/api/v1/push
    headers:
      X-Scope-OrgID: tenant-metrics
    tls:
      insecure: true
    resource_to_telemetry_conversion:
      enabled: true
  otlphttp/mimir:
    endpoint: http://mimir-lb:9009/otlp
    headers:
      X-Scope-OrgID: tenant-metrics
    tls:
      insecure: true
  otlphttp/loki:
    endpoint: http://loki-lb:9009/otlp
    tls:
      insecure: true
  otlphttp/tempo:
    endpoint: http://tempo-lb-otlp:9009
    tls:
      insecure: true
  otlphttp/jaeger:
    endpoint: http://jaeger:4318
    tls:
      insecure: true
  zipkin:
    endpoint: http://zipkin:9411/api/v2/spans
    format: proto
  debug:
    verbosity: detailed

processors:
  batch: {}
  resource/mysql:
    attributes:
      - key: service.name
        value: "webapp-mysql"
        action: upsert

service:
  telemetry:
    logs:
      level: "debug"
  pipelines:
    metrics:
      receivers: [otlp, prometheus, mysql]
      exporters: [prometheusremotewrite]
    logs/app:
      receivers: [otlp]
      exporters: [otlphttp/loki]
    logs/mysql:
      receivers: [fluentforward]
      processors: [resource/mysql]
      exporters: [otlphttp/loki]
    traces:
      receivers: [otlp]
      exporters: [otlphttp/tempo, otlphttp/jaeger, zipkin]
