<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{include/title-list}">title</div>
<div>
	<ul>
		<li><a href="/roll">&#x21CC; Swith to /roll</a></li>
	</ul>
</div>
<div class="main">
	<div class="menu">
		<div class="menu-title">
			<h2 class="negation">Roll a dice</h2>
		</div>
		<div th:replace="~{include/menu-item-list}">title</div>
	</div>
	<div class="content">
		<div class="content-title">
			<h2>Report card</h2>
		</div>
		<div class="content-body">
			<div th:replace="~{include/content-body-dice}">title</div>
			<div th:replace="~{include/content-body-history}">title</div>
		</div>
	</div>
</div>
</body>
